/* Vous pouvez changer ces trois valeurs */
:root {
    --c: gainsboro; /* Couleur des lignes de la grille */
    --d: 1em;       /* Taille des cellules de la grille */
    --l: 1px;       /* Épaisseur des lignes */
}

/* Valeur calculée */
:root {
    --o: calc(0.5 * var(--l));
}

body {
    background-color: #fafaff;
    opacity: 1;
    background-image: radial-gradient(#b8bbff 0.65px, #fafaff 0.65px);
    background-size: 13px 13px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*tab navigation*/
.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 10px 20px;
}

.form-search{
}

.form-search .form-control {
    
}